@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Nanum Gothic', sans-leserif;
}
a { text-decoration: none !important; color: black; }
img { border: 0; }
ul { list-style: none; }

#main_header {
    background-color: #E2D7CD;
}
.menu img {
    width: 100%;
}

.serumkind > .muscat img {
    height: 600px;
    position: absolute;
    left: 280px;
    margin-top: 150px;
}

.serumkind > .muscat p {
    position: absolute;
    left: 460px;
    top: 100%;
    line-height: 25px;
}

.serumkind > .youth img {
    height: 600px;
    position: absolute;
    right: 300px;
    margin-top: 150px;
}

.serumkind > .youth p {
    position: absolute;
    right: 470px;
    top: 100%;
    line-height: 25px;    
}

.serumkind > .yellomello img {
    height: 600px;
    position: absolute;
    left: 280px;
    top: 120%;
}

.serumkind > .yellomello p {
    position: absolute;
    left: 480px;
    top: 172%;
    line-height: 25px;
}

.serumkind > .purple img {
    height: 600px;
    position: absolute;
    right: 300px;
    top: 120%;
}

.serumkind > .purple p {
    position: absolute;
    right: 430px;
    top: 172%;
    line-height: 25px; 
}

.serumkind > .deep img {
    height: 600px;
    position: absolute;
    left: 280px;
    top: 190%;
}

.serumkind > .deep p {
    position: absolute;
    left: 480px;
    top: 243%;
    line-height: 25px;
}

.serumkind > .chaga img {
    height: 600px;
    position: absolute;
    right: 300px;
    top: 190%;
}

.serumkind > .chaga p {
    position: absolute;
    right: 430px;
    top: 243%;
    line-height: 25px;
}

.serumkind > .lip img {
    height: 600px;
    position: absolute;
    left: 280px;
    top: 272%;
}

.serumkind > .lip p {
    position: absolute;
    left: 450px;
    top: 325%;
    line-height: 25px;
}

.serumkind > .bag img {
    height: 600px;
    position: absolute;
    right: 280px;
    top: 272%;
}

.serumkind > .bag p {
    position: absolute;
    right: 430px;
    top: 325%;
    line-height: 25px;
}




