@charset "UFT-8";

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  font-weight: lighter;
  color: rgb(247, 247, 247);
}

ul {
  list-style: none;
}

/* Header */

.main_header {
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

.main_header.scrolled {
  background: rgba(236, 235, 235, 0.8);
  color: black;
}

.main_header a {
  text-decoration: none;
  color: #000;
  position: relative;
  transition: color 0.3s ease;
}

.main_header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 0.1rem;
  background: #000;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.main_header a:hover::after {
  transform: scaleX(1);
}

.logo {
  font-weight: lighter;
  font-size: 3rem;
  line-height: 6rem;
  margin: 2rem;
}

.nav {
  display: flex;
  line-height: 3.5rem;
  font-size: 1.1rem;
}

.nav li {
  margin: auto;
  padding: 1.6rem;
}

.main_header.scrolled .logo {
  color: black;
}

.main_header.scrolled .nav a {
  color: black;
}

/* main 상단 */

#main_container > .content {
  margin-top: 100vh;
}

#main_container > .content.main_slider {
  margin-top: -2rem;
  height: 100%;
  overflow: hidden;
}

#main_container > .content.main_slider img {
  height: 100%;
}

#main_container > .content.main_slider > .swiper-container {
  width: 100vw;
  height: 100vh;
}

#main_container
  > .content.main_slider
  > .swiper-container
  .swiper-slide.slide1 {
  background: url(../images/main_slider1.png);
  background-size: cover;
  background-position: center;
}

.text-overlay {
  font-weight: 500;
  line-height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  text-align: center;
  z-index: 10; /* 텍스트가 이미지 위에 있도록 설정 */
}

.text-overlay2 {
  font-weight: 500;
  line-height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(11, 11, 11);
  font-size: 3em;
  text-align: center;
  z-index: 10; /* 텍스트가 이미지 위에 있도록 설정 */
}

.overlay {
  font-size: 1rem;
}

.slide1 {
  width: 20rem;
  height: 200;
}

#main_container
  > .content.main_slider
  > .swiper-container
  .swiper-slide.slide2 {
  background: url(../images/main_slider2.png);
  background-size: cover;
  background-position: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* main 하단 */

.ourstory {
  margin-top: 15rem;
}

.main_section {
  margin-left: 5rem;
  margin-right: 5rem;
}

.main_text {
  margin-top: 2.5rem;
  color: rgb(149, 149, 149);
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.main_item {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_content h1 {
  font-size: 2rem;
}

.item_content p {
  margin-top: 3.3rem;
  font-size: 0.9rem;
  line-height: 2rem;
}

.more {
  margin-top: 1.3rem;
  cursor: pointer;
  background: white;
  border-radius: 5rem;
  padding: 0.6rem;
  border-width: 0.1rem;
  border-color: #1d1d1d;
}

.bottom_img {
  width: 34rem;
  height: 23rem;
}

.bottom_img2 {
  width: 32rem;
  height: 32rem;
}

/* 동영상 */

.playerBox {
  margin-top: -15rem;
  background: #000;
  height: 45rem;
  width: 100%;
  position: relative;
  display: inline-block;
}

.swiper-button-prev.swiper-button-custom,
.swiper-button-next.swiper-button-custom {
  --swiper-navigation-color: #dddedf;
  width: 4rem;
  height: 3rem;
}

/* footer */

#main_footer {
  margin-top: -0.7rem;
  height: 23rem;
  background-color: black;
}

.info {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  color: white;
  line-height: 3rem;
}

.info_t {
  margin-top: 3rem;
  margin-right: 25rem;
}

.info_t2 {
  margin-top: 3rem;
  margin-right: 25rem;
}

/* 반응형 */
/* @media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide1 {
    background: url(../images/mini_slider1.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 550px;
  }

  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide2 {
    background: url(../images/mini_slider2.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 550px;
  }

  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide3 {
    background: url(../images/mini_slider3.png);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 550px;
  }

  .swiper-button-prev.swiper-button-custom,
  .swiper-button-next.swiper-button-custom {
    position: absolute;
    top: 35%;
  }

  #main_container > .content {
    margin-top: 150px;
  }

  #main_container > .content.about {
    margin-top: -220px;
  }

  #main_container > .content.about img {
    vertical-align: middle;
    width: 500px;
    height: 400px;
  }

  #main_container > .content.about button {
    width: 130px;
    height: 30px;
    margin-top: 50px;
  }

  #main_container > .content.favorite h2 {
    font-size: 25px;
  }

  #main_container > .content.favorite > .favorite_img > div {
    margin: 30px;
  }

  #main_container > .content.favorite p {
    text-align: center;
    font-size: 12px;
  }

  #main_container > .content.favorite img {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide1 {
    background: url(../images/main_slider1.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
  }

  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide2 {
    background: url(../images/mini_slider2.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
  }

  #main_container
    > .content.main_slider
    > .swiper-container
    .swiper-slide.slide3 {
    background: url(../images/mini_slider3.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
  }

  .swiper-button-prev.swiper-button-custom,
  .swiper-button-next.swiper-button-custom {
    position: absolute;
    top: 20%;
  }

  #main_container > .content {
    margin-top: 50px;
  }

  #main_container > .content.about {
    margin-top: -500px;
  }

  #main_container > .content.favorite h2 {
    font-size: 20px;
  }

  #main_container > .content.favorite > .favorite_img > div {
    margin: 5px;
  }

  #main_container > .content.favorite p {
    text-align: center;
    font-size: 10px;
  }

  #main_container > .content.favorite img {
    width: 250px;
  }

  #main_container > .content.about img {
    vertical-align: middle;
    width: 400px;
    height: 300px;
  }

  #main_container > .content.about button {
    width: 110px;
    height: 25px;
    margin-top: 50px;
  }
} */
