@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#main_container > .content {
    margin-top: 400px;
}

#main_container > .content.main_slider {
    margin-top: 0;
    height: 950px;
}

#main_container > .content.main_slider img {
    height: 100%;
}

#main_container > .content.main_slider > .swiper-container {
    width: 100%;
    height: 100%;
}

#main_container > .content.main_slider > .swiper-container .swiper-slide.slide1 {
    background: url(../images/main_slider1.png);
    background-size: cover;
    background-position:center;
}

#main_container > .content.main_slider > .swiper-container .swiper-slide.slide2 {
    background: url(../images/main_slider2.png);
    background-size: cover;
    background-position:center;
}

#main_container > .content.main_slider > .swiper-container .swiper-slide.slide3 {
    background: url(../images/main_slider3.png);
    background-size: cover;
    background-position:center;
}

#main_container > .content.about {
    height: 800px;
    margin-top: 200px;
}

#main_container > .content.about > div {
    text-align: center;
}

#main_container > .content.about img {
    height: 600px;
    vertical-align: middle;
} 

#main_container > .content.about button {
    width: 195px;
    height: 40px;
    background-color: white;
    border: 1.5px solid #3C3B45;
    margin-top: 50px;
}

#main_container > .content.favorite {
    height: 500px;
}

#main_container > .content.favorite h2 {
    text-align: center;
    margin-top: -200px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 35px;
}

#main_container > .content.favorite > .favorite_img {
    display: flex;
    justify-content: center;
}

#main_container > .content.favorite > .favorite_img .bak {
    height: 400px;
    width: 350px;
}

#main_container > .content.favorite .favorite_pink > .favorite_pink_bak {
    background: url("../images/mpb.jpg");
    background-size: cover;
    background-position: center;
}

#main_container > .content.favorite .favorite_hand > .favorite_hand_bak {
    background: url("../images/hand.jpg");
    background-size: cover;
    background-position: center;
}

#main_container > .content.favorite .favorite_pink > .favorite_pink_bak:hover {
    background: url("../images/mpbb.jpg");
    background-size: cover;
    background-position: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#main_container > .content.favorite .favorite_hand > .favorite_hand_bak:hover {
    background: url("../images/hand_back.jpg");
    background-size: cover;
    background-position: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#main_container > .content.favorite > .favorite_img:last-child {
    display:flex
}


#main_container > .content.favorite > .favorite_img > div {
    margin: 50px 100px;
}

#main_container > .content.favorite img {
    width: 500px;
}

#main_container > .content.favorite p {
    text-align: center;
    line-height: 20px;
    font-weight: bolder;
}


.playerBox {
    background: #000;
    height: 800px;
    width: 100%;
    position: relative;
    display: inline-block;
}

/* 스위퍼 버튼 */

.swiper-button-prev.swiper-button-custom,
.swiper-button-next.swiper-button-custom {
--swiper-navigation-color: #dddedf;
}

@media screen and (min-width: 1024px) {
        
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide1 {
        background: url(../images/mini_slider1.png);
        background-size: cover;
        background-position:center;
        width: 600px;
        height: 550px;
    }

    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide2 {
        background: url(../images/mini_slider2.png);
        background-size: cover;
        background-position:center;
        width: 600px;
        height: 550px;
    }

    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide3 {
        background: url(../images/mini_slider3.png);
        background-size: cover;
        background-position:center;
        width: 600px;
        height: 550px;
    }

    .swiper-button-prev.swiper-button-custom,
    .swiper-button-next.swiper-button-custom {
        position: absolute;
        top: 35%;
    }

    #main_container > .content {
        margin-top: 150px;
    }

    #main_container > .content.about {
        margin-top: -220px;
    }

    #main_container > .content.about img {
        vertical-align: middle;
        width: 500px;
        height: 400px;
    }

    #main_container > .content.about button {
        width: 130px;
        height: 30px;
        margin-top: 50px;
    }

    #main_container > .content.favorite h2 {
        font-size: 25px; 
        font-family: 'Black Han Sans', sans-serif;
    }

    #main_container > .content.favorite > .favorite_img > div {
        margin: 30px;
    }
    
    #main_container > .content.favorite p {
        text-align: center;
        font-size: 12px;
    }

    #main_container > .content.favorite img {
        width: 400px;
    }
}

@media screen and (max-width:767px) {
    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide1 {
        background: url(../images/main_slider1.png);
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 300px;
    }

    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide2 {
        background: url(../images/mini_slider2.png);
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 300px;
    }

    #main_container > .content.main_slider > .swiper-container .swiper-slide.slide3 {
        background: url(../images/mini_slider3.png);
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 300px;
    }

    .swiper-button-prev.swiper-button-custom,
    .swiper-button-next.swiper-button-custom {
        position: absolute;
        top: 20%;
    }

    #main_container > .content {
        margin-top: 50px;
    }

    #main_container > .content.about {
        margin-top: -500px;
    }

    #main_container > .content.favorite h2 {
        font-size: 20px;
    }

    #main_container > .content.favorite > .favorite_img > div {
        margin: 5px;
    }
    
    #main_container > .content.favorite p {
        text-align: center;
        font-size: 10px;
    }

    #main_container > .content.favorite img {
        width: 250px;
    }

    #main_container > .content.about img {
        vertical-align: middle;
        width: 400px;
        height: 300px;
    }

    #main_container > .content.about button {
        width: 110px;
        height: 25px;
        margin-top: 50px;
    }

}