@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Nanum Gothic', sans-leserif;
}

a { text-decoration: none !important; color: black; }
img { border: 0; }
ul { list-style: none; }

#main_surebase > .surebase_slider {
    height: 1123px;
}

#main_surebase > .surebase_slider img {
    height: 100%;
}

#main_surebase > .surebase_content {
    height: 2400px;
}

#main_surebase > .surebase_slider > .swiper-slide.slide1 {
    background: url(../images/girls.png);
    background-size: cover;
    background-position:center;
}

#main_surebase > .surebase_slider > .swiper-slide.slide2 {
    background: url(../images/girls2.png);
    background-size: cover;
    background-position:center;
}

#main_surebase > .surebase_content > .nudy > .nudybak {
    background: url("../images/nudy.jpg");
    background-size: cover;
    position: absolute;
    left: 200px;
    width: 600px;
    height: 700px;
    margin-top: 150px;
}

#main_surebase > .surebase_content > .glad > .gladbak {
    background: url("../images/glad.jpg");
    background-size: cover;
    position: absolute;
    right: 300px;
    top: 2100px;
    width: 600px;
    height: 700px;
    margin-top: 100px;
}

#main_surebase > .surebase_content > .sun > .sunbak {
    background: url("../images/sun.jpg");
    background-size: cover;
    position: absolute;
    left: 200px;
    top: 2800px;
    width: 600px;
    height: 700px;
    margin-top: 150px;
}

.surebase_content > .nudy > .nudybak:hover {
    background: url("../images/nudy_back.jpg");
    background-size: cover;
    position: absolute;
    left: 200px;
    width: 600px;
    height: 700px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.surebase_content > .glad > .gladbak:hover {
    background: url("../images/glad_back.jpg");
    background-size: cover;
    background-position: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.surebase_content > .sun > .sunbak:hover {
    background: url("../images/sun_back.jpg");
    background-size: cover;
    background-position: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.playerBox {
    background: #000;
    height: 800px;
    width: 100%;
    position: relative;
    display: inline-block;
}

#main_surebase > .surebase_content > .nudybak > .p {
    position: absolute;
    left: 200px;
    top: 200px;
}

#main_surebase > .surebase_content > .gladbak > .p {

}

#main_surebase > .surebase_content > .sunbak > .p {

}

#main_surebase > .kits img {
    width: 99.99%;
    margin-bottom: -5px;
}
