@charset "UFT-8";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

/* Header */

.main_header {
  top: 0;
  height: 3.5rem;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgba(236, 235, 235, 0.8);
  z-index: 100;
}

.logo {
  font-size: 2rem;
  margin: 2rem;
  color: rgb(0, 0, 0);
}

.logo2 {
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

/* main */

.serumkind_top {
  height: 28rem;
  background-image: url("/images/serumkind_top.jpeg"); /* 이미지 경로 */
  background-size: cover; /* 이미지가 컨테이너를 완전히 커버하도록 설정 */
  background-position: center; /* 이미지가 컨테이너의 중앙에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지 반복을 방지 */
}

.topimg_text {
  font-weight: bold;
  position: absolute;
  top: 39%;
  left: 23%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 5em;
  z-index: 10;
}

.topimg_text2 {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 1em;
  z-index: 10;
}

.serumkind {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.serumkind .bak {
  width: 400px;
  height: 400px;
  margin: 90px 100px;
  justify-content: center;
}

.serumkind .muscat_bak {
  background: url(../images/muscat.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .youth_bak {
  background: url(../images/youth.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .yellomello_bak {
  background: url(../images/yellomello.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .purple_bak {
  background: url(../images/purple.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .deep_bak {
  background: url(../images/deep.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .chaga_bak {
  background: url(../images/chaga.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .lip_bak {
  background: url(../images/lip.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .bag_bak {
  background: url(../images/bag.jpg);
  background-size: cover;
  background-position: center;
}
.serumkind .muscat_bak:hover {
  background: url("../images/muscat_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .youth_bak:hover {
  background: url("../images/youth_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .yellomello_bak:hover {
  background: url("../images/yellomello_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .purple_bak:hover {
  background: url("../images/purple_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .deep_bak:hover {
  background: url("../images/deep_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .chaga_bak:hover {
  background: url("../images/chaga_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .lip_bak:hover {
  background: url("../images/lip_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .bag_bak:hover {
  background: url("../images/bag_back.jpg");
  background-size: cover;
  background-position: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.serumkind .muscat p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .youth p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .yellomello p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .purple p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .deep p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .chaga p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .lip p {
  text-align: center;
  margin-top: -3.5rem;
}

.serumkind .bag p {
  text-align: center;
  margin-top: -3.5rem;
}

#low_slider > .swiper-container {
  margin-top: 220px;
}

#low_slider > .swiper-container img {
  display: flex;
  width: 550px;
  height: 750px;
}

.swiper-button-prev.swiper-button-custom,
.swiper-button-next.swiper-button-custom {
  --swiper-navigation-color: #dddedf;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* footer */

#main_footer {
  margin-top: -1rem;
  height: 23rem;
  background-color: black;
}

.info {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  color: white;
  line-height: 2.7rem;
}

.info h1 {
  margin-bottom: 1rem;
}

.info_t {
  margin-top: 3.7rem;
  margin-right: 25rem;
}

.info_t2 {
  margin-top: 3.7rem;
  margin-right: 25rem;
}

/* 반응형 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .serumkind {
    display: flex;
    width: 900px;
    margin: 0 auto;
  }

  .serumkind .bak {
    width: 350px;
    height: 400px;
    margin: 60px 50px;
  }

  #low_slider > .swiper-container img {
    display: flex;
    width: 300px;
    height: 400px;
  }

  .swiper-button-prev.swiper-button-custom,
  .swiper-button-next.swiper-button-custom {
    position: absolute;
    top: 55%;
  }

  .serumkind .muscat p {
    position: absolute;
    left: 130px;
    font-size: 15px;
  }

  .serumkind .youth p {
    position: absolute;
    right: 30px;
    font-size: 15px;
  }

  .serumkind .yellomello p {
    position: absolute;
    left: 130px;
    font-size: 15px;
  }

  .serumkind .purple p {
    position: absolute;
    right: 30px;
    font-size: 15px;
  }

  .serumkind .deep p {
    position: absolute;
    left: 130px;
    font-size: 15px;
  }

  .serumkind .chaga p {
    position: absolute;
    right: 30px;
    font-size: 15px;
  }

  .serumkind .lip p {
    position: absolute;
    left: 130px;
    font-size: 15px;
  }

  .serumkind .bag p {
    position: absolute;
    right: 30px;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .serumkind {
    display: flex;
    /* flex-wrap: wrap; */
    width: 700px;
    margin: 0 auto;
  }

  .serumkind .bak {
    width: 200px;
    height: 300px;
    margin: 40px 30px;
  }

  .serumkind .muscat p {
    position: absolute;
    left: 80px;
    font-size: 12px;
  }

  .serumkind .youth p {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }

  .serumkind .yellomello p {
    position: absolute;
    left: 80px;
    font-size: 12px;
  }

  .serumkind .purple p {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }

  .serumkind .deep p {
    position: absolute;
    left: 80px;
    font-size: 12px;
  }

  .serumkind .chaga p {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }

  .serumkind .lip p {
    position: absolute;
    left: 80px;
    font-size: 12px;
  }

  .serumkind .bag p {
    position: absolute;
    right: 30px;
    font-size: 12px;
  }

  #low_slider > .swiper-container img {
    display: flex;
    width: 200px;
    height: 300px;
  }

  .swiper-button-prev.swiper-button-custom,
  .swiper-button-next.swiper-button-custom {
    position: absolute;
    top: 60%;
  }
}
